@import "../variables";

.chartContainer {
  margin-top: $navbar-height;

  .surplusForADay {
    color: red;
  }
  .deficitForADay {
    color: blue;
  }
  .tickerItems {
    display: flex;

    .ticker {
      display: flex;
    }
  }
}
