@import "../../variables";

.signInContainer {
  margin: $navbar-height auto 0 auto;
  min-height: 400px;
  max-width: $container_width;

  .title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .spinner {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;

    div {
      width: 27px;
      height: 27px;
    }
  }
}
